/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /* border:1px solid black; */
}

html{
    font-size: 62.5%;
}
body{
    font-size: 1.8rem;
    line-height: 1.5;
    color: #4f4f4f;
    background-color: #042222;
}
nav{
    display: flex;
    flex-direction: column;
    background-color: grey;
    color: white;
    height: 10rem;
}
.name{
    margin: 1%;
}
a{
    color: white;
    margin-left: 1%;
}
.aboutsec{
    display: flex;
    margin-top: 5%;
}
.bg-img{
    display:flex;
    justify-content: center;
    width: 60%;
    margin-left: ;
    
}
.text{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: ;
    width: 70%;
}
.text h2{
    font-size: 30px;
    color: rgb(151, 133, 112);
}
.text p{
    width: 50%;
    color: rgb(151, 133, 112);
}
.text a {
    width: 15%;
    text-align: center;
    border: 1px solid black;
    border-radius: .5rem;
    background-color: darkslategrey;
    text-decoration: none;
    color: rgb(151, 133, 112);
}

.projectssec{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem;
}
.pic{
    
    margin: 2% 0;
}
.pic, img{
    width: 35rem;
    margin: 3px;
}
.pic p{
    text-align: center;
    color: rgb(151, 133, 112);
    margin-top: 2%;
}
#contact {
    background-color: grey;
    display:flex;
    flex-direction: column;
    text-align: center;
    color:darkslategrey;
}

#contact a{
    color: darkslategrey;
}
.bottom{
    text-align: end;
    margin-right: 1%;
}

/*Responsive Styles*/

/*tablet view - 800px*/
@media (max-width: 800px){
    /*header section styles*/
    .logo{
        width:8%;
    }
    /*about section styles*/
    #about div{
        width:50%;
        margin-right:3%;
        margin-top:20%;
    }
    /*shop section styles*/
    .text div{
        width:80%;
    }
    /*footer section styles*/
    .bottom p{
        margin-right:9.5%;
    }
    .left div.info{
        line-height:2;
    }
}/*this closes my media query for 800px*/

/*mobile view - 500px*/
@media (max-width: 500px){
    nav{
        flex-wrap:wrap;
        justify-content: center;
        padding-bottom:1%;
    }
    .links{
        width:100%;
    }
    /*about section styles*/
    #about{
        background-image:none;
        background-color:lightgrey;
        height:auto;
        justify-content: center;
        align-items: center;
    }
    #about div{
        margin:0;
        width:80%;
        text-align:center;
    }
    /*Shop Section Styles*/
     .container{
         justify-content: center;
     }
     .cacti, .tropicals, .succulants, .text{
         width:80%;
     }
     .text div{
         width:100%;
     }
     .cacti, .tropicals, .succulants{
         height:40vh;
     }
     .one{
         order:1;
     }
     .two{
         order:2;
     }
     .three{
         order:3;
     }
     .four{
         order:4;
     }
     .five{
         order:5;
     }
     .six{
         order:6;
     }
     footer{
         justify-content: center;
     }
     footer h2, .left, .right, .bottom{
         width:90%;
         text-align:center;
     }
     footer h3{
         text-align:center;
     }
     .bottom p{
         margin-right:0;
         margin-top:5%;
     }
     .right{
         order:-1;
         margin-bottom:5%;
     }
     h2{
         order:-2;
     }
}/*this closes my media query for mobile*/

